body {
  background-color: mediumpurple;
}

h1 {
  color: #FFF;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}